.green_button{
    text-decoration: none;
    color: inherit;
    background:darkslategrey;
    padding: 0.5rem 0.7rem;
    transition: 0.15s ease-in;
}

.green_button:hover{
    background: lightblue;

}

.green_button:focus{
    outline: 4px solid lightseagreen;
    transition: none;
}